<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BeeJEE</title>

    <!-- Styles and JS for bootstrap -->
    <script src="/bootstrap-4.4.1-dist/jquery/jquery-3.4.1.slim.min.js"></script>
    <script src="/bootstrap-4.4.1-dist/jquery/popper.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

    <!-- Custom Styels -->
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>
    <div class="container">
        <div class="header">
            {% if logged_in %}
                <form action="/logout" style="display:inline;" method="POST"><button type="submit" class="btn btn-primary">Выйти</button></form>
            {% else %}
                <a href="/login" class="btn btn-primary">Войти</a>
            {% endif %}
            <a href="/create" class="btn btn-primary">Создать задачу</a>
        </div>
        <hr>
        <p>Соритровка по:<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></p>
        <form class="add-task-form">
            <div class="btn-group" role="group" aria-label="Basic example">
                <div class="row container">
                    <div class="col">
                        <p>Имени:</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="name" value="" id="name" value="option1" {% if ord_name == '' %} checked {% endif %}>
                            <label class="form-check-label" for="name">
                              Не сортировать
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="name" value="asc" id="name1" value="option2" {% if ord_name == 'asc' %} checked {% endif %}>
                            <label class="form-check-label" for="name1">
                                По возврастанию
                            </label>
                        </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="name" value="desc" id="name2" value="option3" {% if ord_name == 'desc' %} checked {% endif %}>
                            <label class="form-check-label" for="name2">
                                По убыванию
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <p>Email:</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="email" value="" id="email" value="option1" {% if ord_email == '' %} checked {% endif %}>
                            <label class="form-check-label" for="email">
                              Не сортировать
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="email" value="asc" id="email1" value="option2"{% if ord_email == 'asc' %} checked {% endif %} >
                            <label class="form-check-label" for="email1">
                                По возврастанию
                            </label>
                        </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="email" value="desc" id="email2" value="option3" {% if ord_email == 'desc' %} checked {% endif %}>
                            <label class="form-check-label" for="email2">
                                По убыванию
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <p>Статусу:</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="done" value="" id="done" value="option1" {% if ord_done == '' %} checked {% endif %}>
                            <label class="form-check-label" for="done">
                              Не сортировать
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="done" value="asc" id="done1" value="option2" {% if ord_done == 'asc' %} checked {% endif %}>
                            <label class="form-check-label" for="done1">
                                По возврастанию
                            </label>
                        </div>
                          <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="done" value="desc" id="done2" value="option3" {% if ord_done == 'desc' %} checked {% endif %}>
                            <label class="form-check-label" for="done2">
                                По убыванию
                            </label>
                        </div>
                    </div>
                    
                      
                    <div class="form-check col">
                        <button type="submit" class="btn btn-secondary mb-2 ">Обновить</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row container-fluid tasks">
                {% for task in tasks %}
                <div class="card col-12" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Пользователь: {{task.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{task.email}}</h6>
                        <p class="card-text">{{task.description}}</p>
                        {% if task.done == 'Y' %}
                            <div class="alert alert-success" role="alert">
                                Выполнено
                            </div>
                        {% endif %}
                        {% if task.edited == 'Y' %}
                            <div class="alert alert-info" role="alert">
                                Отредактировано администратором
                            </div>
                        {% endif %}
                        {% if logged_in %}
                            <a href="/edit?id={{task.id}}" class="card-link">Редактировать</a>
                            <a href="/delete?id={{task.id}}" class="card-link">Удалить</a>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <h1>Список задач пуст</h1>
                {% endfor %}
            </div>
            <hr>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                {% if numPages > 1 %}
                    {% for i in range(1,numPages) %}
                        <button type="submit" name="page" value="{{ i }}" class="btn btn-secondary">{{ i }}</a></button>
                    {% endfor %} 
                {% endif %}
            </div>
            </div>
        </form>
      
  </body>
</html> 